<div id="open-chat" class="theme-stick--option">
  <img src="https://cdn.shopify.com/s/files/1/0624/9365/5107/files/Consumer_Care_Bulk_Order.png?v=1741707489">
  <h4 class="caption-with-letter-spacing">Bulk Order</h4>
</div>
