<!-- Fake Purchase Popup -->
<div id="fake-purchase-popup" class="popup">
  <div class="popup-content">
    <img id="popup-image" src="" alt="Product Image">
    <p>
      <strong id="popup-name"></strong> from <span id="popup-location"></span> just purchased
      <span id="popup-product"></span>!
    </p>
  </div>
</div>
