{% style %}
  .theme-collection--title{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    padding: 6rem 1rem;
    color: #fff;
    /* height: 270px;
    min-height: 230px; */
    }



  .theme-collection--title h1 {margin:0;}
{% endstyle %}

{% assign themebg = section.settings['theme-page--background'] %}
{% assign titlecenter = section.settings['theme-title--center'] %}
{% assign themecolor = section.settings['theme-text-color'] %}
<div
  class="theme-collection--title"
  style="{% if themebg %} background: url('{{ themebg | image_url }}');{% else %}background: url('https://cdn.shopify.com/s/files/1/0624/9365/5107/files/KWiK_Product_Collection_093751fe-0127-483a-adc4-410cddebfbd7.png?v=1741703247');{% endif %}{% if titlecenter %} text-align:center; {% endif %}"
>
  <div class="theme-container page-width">
    <div class="theme-page--header">
      <p
        style="{% if themecolor %} color: #121212; {% else %}color: #fff;{% endif %}"
        class="caption-with-letter-spacing"
      >
        {{ section.settings['theme-page--description'] | strip_html }}
      </p>
      <h1 style="{% if themecolor %} color: #121212; {% else %}color: #fff;{% endif %}">
        {{ section.settings['theme-collection--title'] | strip_html }}
      </h1>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection Title",
  "settings": [
    {
      "type":"text",
      "id":"theme-collection--title",
      "label": "Collection Header Title",
      "default":"CCPI provides high-quality, value-for-money products enriching Filipino lives every day."
    },
    {
      "type":"inline_richtext",
      "id":"theme-collection--description",
      "label": "Collection Header Description",
      "default":"CCPI provides high-quality, value-for-money products for home, personal, pet, and motor care—enriching Filipino lives every day."
    },
    {
      "type":"checkbox",
      "id":"theme-title--center",
      "label": "Center the page title",
      "default":false
    },
    {
      "type":"checkbox",
      "id":"theme-text-color",
      "label": "Change Text Color",
      "default":false
    },
    {
      "type":"image_picker",
      "label": "Collection Background",
      "id":"theme-collection--background"
    }
  ],
  "presets":[
    {
      "name":"Collection Title"
    }
  ]
}
{% endschema %}
